# Environment Configuration
WEBSITE_URL=https://sehatindonesiaku.kemkes.go.id/ckg-pelayanan
DETAIL_URL=https://sehatindonesiaku.kemkes.go.id/ckg-pelayanan/detail-pemeriksaan
HEADLESS=true
TIMEOUT=10
CHROMEDRIVER_PATH=./drivers/chromedriver
LOG_LEVEL=INFO
